﻿

@{
    ViewBag.Title = "Index";
}

<div class="article">
    Назва: Керування погодою і кліматом
    <br />
    Дата публікації: 15/01/2020
    <br />
    Текст:
    <br />
    Клімат — це багаторічний режим погоди, який спостерігається вданій місцевості. Практичне уявлення про клімат одержують на основі статистичної обробки метеорологічних спостережень за багаторічний період (декілька десятків років). Клімат визначають не тільки за середніми значеннями метеорологічних показників, а враховують і їхній річний, добовий хід, їхні крайні значення, середні відхилення від середніх величин, повторюваність певних явищ, середні і крайні строки початку явищ та ін.

    До основних метеорологічних показників клімату належать характеристики стану повітря, а також деякі атмосферні процеси, що безпосередньо спостерігаються на метеорологічних станціях: температура повітря, температура ґрунту, атмосферні опади, тиск, вологість, хмарність, тумани, грози, тривалість сонячного сяйва, висота і стан снігового покриву.

    Клімат залежить від географічної широти певної території, відстані від морів та океанів, характеру морських течій, висоти над рівнем океану, особливості рельєфу.

    Наука про клімат називається кліматологією, її завдання — вивчати та описувати клімат земної кулі.

    Погодою називають сукупність атмосферних процесів і метеорологічних величин, які характеризують фізичний стан атмосфери в певний момент або проміжок часу. Закономірні зміни погоди - це режим погоди. Погода характеризується наступними метеорологічними елементами: сонячна радіація, тривалість сонячного сяяння в годинах, температура повітря і поверхні ґрунту, вологість повітря, атмосферний тиск, вітер, хмарність, опади /кількість, кількість днів з опадами, види опадів, час випадання/, сніговий покрив, горизонтальна видимість, наземні опади та інші атмосферні явища /іній, паморозь, ожеледиця, гроза, тумани, полярні сяйва. веселка, кола й вінці навколо Сонця і Місяця.

    Спостереження за елементами погоди проводяться синхронно на метеостанціях всього світу через кожних три години за гринвіцьким часом. Результати спостережень передаються телеграфом, телефоном або за допомогою радіозв'язку в організації Служби погоди для складання синоптичних карт. Служба погоди виникла в зв'язку з потребою в своєчасній інформації населення, адміністративних і господарських установ про стан погоди, її зміни і передбачення умов погоди на майбутній час. Служба погоди складається з сітки синоптичних станцій і центрально-республіканських, обласних, портових та інших бюро погоди.
</div>
<div class="article">
    Назва: Вивчення будови землі
    <br />
    Дата публікації: 20/04/2019
    <br />
    Текст:
    <br />
    Склад і будова глибинних оболонок Землі в останні десятиліття продовжують залишатися однією з найбільш інтригуючих проблем сучасної геології. Адже Земля володіє однією унікальною особливістю – на ній є життя. Тому всебічне вивчення Землі має величезне значення для людства. Знання про неї служать також своєрідною відправною точкою при вивченні інших планет земної групи. Вчені припускають, що Земля складається з трьох основних частин: ядра, мантії і земної кори.
    Ядро – це центральна, серцевинна частина земної кулі. Воно поки що є загадкою для науки. Впевнено можна казати лише про його радіус – близько 3500 км. Учені вважають, що зовнішня частина ядра перебуває в розплавлено-рідкому стані, а внутрішня – в твердому. Припускають також, що ядро складається з речовини, схожої на метали (із заліза з домішками кремнію або із заліза і нікелю, є й інші припущення). Температура в ядрі досягає 5 0000 С.
    Мантія це – внутрішня оболонка, яка вкриває ядро (з грецької “мантія” – “покривало”). Її потужність майже 3 000 км. Мантія – найбільша з внутрішніх оболонок планети (83 % об’єму Землі). Мантію, як і ядро, ніхто ніколи не бачив. Припускають, що, чим ближче до центра Землі, тим тиск у ній більший, а температура вища: від кількох сотень градусів до +2 500 0С. При такій температурі речовина мантії мала б бути розплавленою, але плавленню заважає великий тиск. Тому вважають, що вона тверда, але водночас і розпечена.
</div>