﻿
@{
    ViewBag.Title = "QuestionaryResult";
}

    <div style="margin:5px">
        <span>User email: </span>@ViewBag.email
        <br />
        <span>User name: </span>@ViewBag.name
        <br />
        <span>Skills:</span>
        <ul style="margin-left:25px; width: 100px">
            @if (@ViewBag.html == "on" && @ViewBag.html != "false") 
            {
                <li><span>HTML</span></li>
            }
            @if (@ViewBag.css == "on" && @ViewBag.css != "false")
            {
                <li><span>CSS</span></li>
            }
            @if (@ViewBag.js == "on" && @ViewBag.js != "false")
            {
                <li><span>JS</span></li>
            }
        </ul>
        <span>Gender:</span>
        @ViewBag.gender
    </div>



